<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 		 xmlns="http://java.sun.com/xml/ns/javaee" 
 		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<welcome-file-list>
	<welcome-file>jsp/homepage.jsp</welcome-file>   <!-- 路径前不加斜线"/"，即使有文件夹也不加，例“html/homepage.html” -->
	<!-- <welcome-file>WEB-INF/view/homepage.jsp</welcome-file> -->   <!-- 这里再WEB-INF/view/下设置欢迎页面无效，路径无误，但是无法访问？？？ -->
	
</welcome-file-list>


<servlet>
	<servlet-name>upAndDownload</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>         
		<param-value>classpath:springmvc.xml</param-value>      
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>upAndDownload</servlet-name>
	<url-pattern>/</url-pattern>   
</servlet-mapping>

<!-- 解决浏览器传给后台中文乱码 -->
<filter>
	<filter-name>encodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>encodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>      <!-- "/*表示过滤所有请求" -->



</web-app>