<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

<!--展示用户的servlet-->
<servlet>
	<servlet-name>userList</servlet-name>
	<servlet-class>com.javaweb.servlet.ShowList</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>userList</servlet-name>
	<url-pattern>/userList</url-pattern>
</servlet-mapping>

<!--删除用户的servlet-->
<servlet>
	<servlet-name>deleteUser</servlet-name>
	<servlet-class>com.javaweb.servlet.DeleteUserServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>deleteUser</servlet-name>
	<url-pattern>/deleteUser</url-pattern>
</servlet-mapping>

<!--注册新用户的servlet-->
<servlet>
	<servlet-name>addUser</servlet-name>
	<servlet-class>com.javaweb.servlet.AddUserServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>addUser</servlet-name>
	<url-pattern>/addUser</url-pattern>
</servlet-mapping>

<!--用户修改信息的servlet:在表单中展示原有的信息，供对比-->
<servlet>
	<servlet-name>updateUser</servlet-name>
	<servlet-class>com.javaweb.servlet.UpdateUserServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>updateUser</servlet-name>
	<url-pattern>/updateUser</url-pattern>
</servlet-mapping>
<!--进行信息修改-->
<servlet>
	<servlet-name>update</servlet-name>
	<servlet-class>com.javaweb.servlet.UpdateUserServlet002</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>update</servlet-name>
	<url-pattern>/update</url-pattern>
</servlet-mapping>

</web-app>
