<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.ssm.mapper.EmpMapper">
 		
 		<!-- 获取所有员工：List<Emp>  getAllEmpsByList() -->
 		<select id="getAllEmpsByList"  resultType="com.project.ssm.bean.Emp">
 			select id,ename,gender,age,did from emp   
 		</select>
 
 </mapper>