<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

<!--一个web.xml配置文件中可配置多个Servlet类的对象

第一个Servlet对象-->
<servlet>
	<servlet-name>servlet005</servlet-name>
	<servlet-class>ServletTest005</servlet-class>
	
	<!--此标签设置在Web服务器启动时实例化Servlet类的对象
		中间数值越低表示优先级越高,中间数的范围没特别要求，最好都写自然数
	-->
	<load-on-startup>0</load-on-startup>  
</servlet>

<servlet-mapping>
	<servlet-name>servlet005</servlet-name>
	<url-pattern>/a</url-pattern>
</servlet-mapping>

<!--第二个Servlet对象-->
<servlet>
	<servlet-name>servlet005b</servlet-name>
	<servlet-class>ServletTest005B</servlet-class>
	<load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
	<servlet-name>servlet005b</servlet-name>
	<url-pattern>/b</url-pattern>
</servlet-mapping>

</web-app>
