<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

<!--(1)设置ServletContext对应的参数，这里的参数在服务器启动时被封装进ServletContext对象中，
	   ServletContext对象也是在服务器启动时创建
	(2)然后可调用ServletContext对象的getInitParameter(String name)方法获取,与ServletConfig类似
	(3)一个webapp项目里只有一个ServletContext,多个Servlet对象共用一个ServletContext
-->
<context-param>
	<param-name>user</param-name>
	<param-value>MacJones</param-value>
</context-param>
<context-param>
	<param-name>team</param-name>
	<param-value>NewEnglandPatriot</param-value>  <!--这里也可设置密码等相关参数-->
</context-param>

<!--第一个Servlet对象-->
<servlet>
	<servlet-name>servletContext</servlet-name>
	<servlet-class>com.servlet.myjava.ServletContextTest001</servlet-class>
	<!--这里类路径以WEB-INF里的classes目录为根目录，写全类名-->
</servlet>
<servlet-mapping>
	<servlet-name>servletContext</servlet-name>
	<url-pattern>/app01</url-pattern>
</servlet-mapping>

<!--第二个Servlet对象-->
<servlet>
	<servlet-name>servletContext02</servlet-name>
	<servlet-class>com.servlet.myjava.ServletContextTest002</servlet-class>
	<!--这里类路径以WEB-INF里的classes目录为根目录，写全类名-->
</servlet>
<servlet-mapping>
	<servlet-name>servletContext02</servlet-name>
	<url-pattern>/app02</url-pattern>
</servlet-mapping>

</web-app>
