<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.mybatis.multiple.mapper.DeptMapper">
 
 	<!--查询单个部门: Dept getDeptByDid(Integer did) -->
 	<select  id="getDeptByDid"  resultType="com.mybatis.multiple.bean.Dept">
 		select did,dname from dept where did=#{did}
 	</select>
 	
 	
 </mapper>